<div>
<nz-card  nzTitle="Heroes" class="hero-container" >
  <cr-tips-hero-classifier (addingNewHero)="selectHero($event)" [tier]="'common'" [heroes]="common"></cr-tips-hero-classifier>
  <cr-tips-hero-classifier (addingNewHero)="selectHero($event)" [tier]="'uncommon'" [heroes]="uncommon"></cr-tips-hero-classifier>
  <cr-tips-hero-classifier (addingNewHero)="selectHero($event)" [tier]="'rare'" [heroes]="rare"></cr-tips-hero-classifier>
  <cr-tips-hero-classifier (addingNewHero)="selectHero($event)" [tier]="'epic'" [heroes]="epic"></cr-tips-hero-classifier>
  <cr-tips-hero-classifier (addingNewHero)="selectHero($event)" [tier]="'legendary'" [heroes]="legendary"></cr-tips-hero-classifier>
</nz-card>
<div class="informations">
  <div class="combo">
    current combo
    <cr-tips-combo-notifier></cr-tips-combo-notifier>
  </div>
  <div class="stats">
    <span>Total Unit Cost : {{totalCost}}</span>
    <span>Number of Unit : {{selectedHeroes.size}}</span>
  </div>

</div>
<nz-card>
  <div class="selected">
    <img *ngFor="let hero of selectedHeroes" (click)="unselectHero(hero)" width="32px" [src]="hero.avatar">
    <div class="button-container">
      <button nz-button nzType="primary" (click)="saveComboToLink()" nzShape="circle"><i nz-icon nzType="link"></i></button>
      <!--<button nz-button nzType="primary" (click)="saveComboToPicture()" nzShape="circle"><i nz-icon nzType="camera"></i></button>-->
    </div>
  </div>

</nz-card>


</div>
