<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">
      Email
    </nz-form-label>
    <nz-form-control [nzSm]="14"
    [nzXs]="24"
    nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">
      Password
    </nz-form-label>
    <nz-form-control [nzSm]="14"
    [nzXs]="24">
      <input nz-input formControlName="password" id="password" type="password">
  </nz-form-control>
  </nz-form-item>
  <div class="form-footer">
    <button nz-button (click)="closeModal()">Cancel</button>
    <button nz-button nzType="primary" type="submit" [disabled]="validateForm.invalid">Login</button>
  </div>
</form>
