<h2>Legal Mentions</h2>

<p>You don't need to register in order to use this website.</p>
<p>The only personnal data registered is your email address used in order to register and identify you.</p>
<p>Those data are stored as long as your account exists and are stored within firebase, owned by Google.</p>
<p>This website is also hosted on Firebase, owned by Google.</p>

<p>Please take note that this is unofficial content and is not approved, sponsored or endorsed by, or affiliated with, Tencent in any way. <br>Any Chess Rush trademarks or copyrights included in this content are the sole property of Tencent.
</p>
