<h2>Welcome on CR-Tips !</h2>
<div>
    <p>
      Hi guyz, this website is supposed to help you share or improve your knowledges in Chess Rush.
    </p>
    <p>
      More features are to come ! If you want to send any feedback, ask for new features, new Language translation or signaling a bug don't hesitate to fill the contact form !
    </p>
    <p>You <strong>don't</strong> need to register in order to use these apps. <u>The only benefits of registering is in order to add some content</u>.</p>
</div>

