.tips-header{
  display: flex;
  justify-content: space-between;
}

nz-table {
  margin-top: 5%;
}

.action i{
  margin: 0 1em;
  cursor: pointer;
}

.classic{ /* Green */
  background-color: green;
  color: white;
}

.turbo{ /* Red */
  background-color: brown;
  color: white;
}

.coop{ /* Purple */
  background-color: purple;
  color: white;
}

.squad{  /* Blue */
  background-color: #1890ff;
  color: white;
}

.economy {
  background-color: #A65E26;
  color: white;
}

.strategy {
  background-color: #176661;
  color: white;
}
