
<div class="tips-header">
  <h1>Tips List</h1>
  <button *ngIf="currentUser !== null" nz-button nzSize="large" nzType="primary" routerLink="/tips/create"><i nz-icon nzType="plus"></i>Add Tip</button>
</div>

<i>Tips are advises that works in general, they are not totally related to composition of the team, it can be about positionning, manage your economy, etc .. </i>
<nz-table [nzData]="tips">
  <thead>
    <th>Author</th>
    <th>Title</th>
    <th>Description</th>
    <th>Score</th>
    <th>Date</th>
    <th>Game Mode</th>
    <th>Category</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let tip of tips">
      <td>{{tip.authorUser.nickname}}</td>
      <td>{{tip.title}}</td>
      <td>{{tip.description}}</td>
      <td>{{tip.score}}</td>
      <td>{{tip.date | date:'short'}}</td>
      <td><nz-tag *ngFor="let t of tip.game_mode" [ngClass]="t">{{_.capitalize(t)}}</nz-tag></td>
      <td><nz-tag *ngFor="let t of tip.category" [ngClass]="t" >{{_.capitalize(t)}}</nz-tag></td>
      <td class="action">
        <a [routerLink]="tip.idTips" (click)="selectTip(tip)"><i nz-icon [nzType]="'eye'"*ngIf="tip !== undefined"></i></a>
        <i nz-icon *ngIf="currentUser && currentUser.idUser === tip.authorUser.idUser" [nzType]="'edit'"></i>
      </td>
    </tr>
  </tbody>
</nz-table>

