<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>CR Tips</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Tactics" nzIcon="crown">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Tips</a>
            <!--<a routerLink="/welcome">Tips</a>-->
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Simulator</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Profile" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Profile Informations</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Personnal Settings</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <div class="button-header">
          <button nz-button (click)="showLoginModal()">Login</button>
          <button nz-button (click)="showRegisterModal()">Register</button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-modal [(nzVisible)]="isRegisterVisible" nzWidth="600px" nzTitle="Register" (nzOnCancel)="handleRegisterCancel()" (nzOnOk)="handleRegisterOk()">
  <cr-tips-register-dialog></cr-tips-register-dialog>
</nz-modal>
<nz-modal [(nzVisible)]="isLoginVisible" nzWidth="600px" nzTitle="Login" (nzOnCancel)="handleLoginCancel()" (nzOnOk)="handleLoginOk()">
    <cr-tips-login-dialog></cr-tips-login-dialog>
</nz-modal>
