<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="">
        <img src="../assets/CR-Tips-Logo.png" alt="logo">
        <h1>CR Tips</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Tactics" nzIcon="crown">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tips" routerLinkActive="router-link-active" >Tips</a>
            <!--<a routerLink="/welcome">Tips</a>-->
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Best Composition</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/simulator" routerLinkActive="router-link-active">Simulator</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/heroes" routerLinkActive="router-link-active">Heroes List</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Profile" nzIcon="user" *ngIf="userLogged">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Profile Informations</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Personnal Settings</a>
          </li>
        </ul>
      </li>
      <li  nz-submenu nzOpen nzTitle="About" nzIcon="info-circle">
        <ul>
          <li nz-menu-item nzMatchRouter>Roadmap</li>
          <li nz-menu-item nzMatchRouter>Bug</li>
          <li nz-menu-item nzMatchRouter>Legal Mentions</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <div class="button-header">
          <button nz-button (click)="showLoginModal()" *ngIf="!userLogged">Login</button>
          <button nz-button (click)="showRegisterModal()" *ngIf="!userLogged">Register</button>
          <button nz-button (click)="logout()" *ngIf="userLogged">Log Out</button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
