<div class="button-container">
  <h3>Filter By :</h3>
  <div class="race-filterer">
    <cr-tips-filter-icon *ngFor="let race of races" [iconSrc]="race.icon" [value]="race.name" (click)="filterData(race.name)"></cr-tips-filter-icon>
  </div>
  <div class="class-filterer">
    <cr-tips-filter-icon *ngFor="let class of classes" [iconSrc]="class.icon" [value]="class.name" (click)="filterData(class.name)"></cr-tips-filter-icon>
  </div>
  <div class="tier-filterer">
    <cr-tips-button-tier-filter *ngFor="let tier of tiers" [tier]="tier" (click)="filterData(tier)"></cr-tips-button-tier-filter>
  </div>
</div>
<div class="card-container">
  <nz-card [nzHoverable]="true" *ngFor="let hero of heroes" [nzExtra]=""  [nzCover]="coverTemplate" [ngClass]="hero.tier"
  [nzActions]="[actionDetail]"
  >

    <nz-card-meta
      [nzTitle]="hero.name"
      [nzDescription]="'cost : ' + hero.manaCost"
      [nzAvatar]="avatarTemplate"
    ></nz-card-meta>
    <ng-template #avatarTemplate >
      <img [src]="hero.avatar" width="64px" *ngIf="hero.avatar !== undefined">
      <nz-skeleton *ngIf="hero.avatar === undefined" nzParagraph="false" [nzAvatar]="true"></nz-skeleton>
    </ng-template>



    <ng-template #actionDetail>
      <i nz-icon nzType="eye" (click)="openModal(hero)" ></i>
    </ng-template>
    <ng-template #coverTemplate>
      <img alt="example" [src]="hero.image" *ngIf="hero.image !== undefined" />
      <p *ngIf="hero.image === undefined">No picture Avalaible</p>
    </ng-template>
  </nz-card>
</div>




