:host{
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

nz-card {
  margin: 1em;
  width: 25%;
}

.content-container{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nz-card-meta{
  display: flex;
  flex-direction: column;
}

.Goblin{
  color: green !important;
}

.Elf .ant-card-meta-description{
   color: chartreuse !important;
}
